html,
body,
#app,
.is-full-height {
	box-sizing: border-box;
	height: 100%;
}

.vertical-full-container {

	height: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;

	.vfc-item {

		order: 0;
		flex: 0 0 auto;
		align-self: auto;

		&.vfc-grow {
			flex-grow: 1;
		}

		//@media(min-width: 769px) {
		@media(min-width: 1024px) {
			&.vfc-grow {
				height: 0;
			}
		}

	}

}

//@media(max-width: 768px) {
@media(max-width: 1023px) {

	.code-editor-container.is-full-height {
		height: 400px;
	}

	.code-container.is-full-height,
	.entity-relationship-model-diagram-container.is-full-height,
	.svg-diagram-viewer.is-full-height {
		height: 600px;
	}

}

.has-hidden-scrollbar::-webkit-scrollbar {
	display: none;
}

.has-hidden-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.table td, .table th {
	vertical-align: middle;
}

.has-white-space-pre-wrap {
	white-space: pre-wrap;
}

.progress.is-extra-small {
	height: 0.25rem;
}
