html,
body,
#app,
.is-full-height {
    box-sizing: border-box;
    height: 100%;
}

.textarea.is-full-height {
    height: 100%;
    max-height: none;
}

.vertical-full-container {

    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    .vfc-item {

        order: 0;
        flex: 0 0 auto;
        align-self: auto;

        &.vfc-grow {
            flex-grow: 1;
        }

        @media(min-width: 769px) {
            &.vfc-grow {
                height: 0;
            }
        }

    }

}

textarea.code-editor {
    tab-size: 4;
    max-height: none;
    resize: none;
}
